// src/css/quasar.variables.scss
$primary   : #50C878; // Verde Esmeralda (Para botones y barras)
$secondary : #D4AF37; // Dorado Oro (Para bordes y detalles)
$accent    : #2e7a48; // Verde oscuro de contraste

$dark      : #1D1D1D;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;